body{
    margin: 0;
    padding: 0;
}
.header {
    color: white;
    margin-top: 0px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220522/pngtree-futuristic-landscape-with-styled-laser-grid-image_1369899.jpg");
    background-size: 10%;
    height: 100px;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;

}

.logo {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 10px;
    top: -30px;
    left: 2%;
    pointer-events: none;
}

.logo1 {
    height: 150px;
    width: 150px;
    position: absolute;
    top: -30px;
    right: 2%;
    pointer-events: none;
}


h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}
#titulo{
    margin: 0;
    padding: 0;
}

.menu {
    display: grid;
    background-color: #ffffff;
    height: 50px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    position: relative;
    z-index: 0;

}
.menu a {
    color: white;
}

.portada {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    border:solid 2px rgb(109, 138, 192);
}

.eventos {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 78, 255);
    text-align: center;
    border:solid 2px rgb(109, 138, 192);
}

.sitios {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    border:solid 2px rgb(109, 138, 192);
}

.patrocinadores {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 78, 255);
    text-align: center;
    border:solid 2px rgb(109, 138, 192);
}

.nosotros {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    border:solid 2px rgb(109, 138, 192);
}

.main{
    background-image: url("images/anime.jfif");
    background-size: cover;
     height: 350px;
     display:flex;
     grid-template-columns: 25% 25% 25% 25% ;
     grid-template-rows: 25% 25% 25% 25% ;
     
    
 }

.taula1 {
    border-radius: 1px;
    border-color: black;
    background-color: rgba(209, 202, 202, 0.9);
    height: 200px;
    width: 200px;
    margin-left: 130px;
    margin-top: 50px;
    text-align: center;
    border: 3px solid #000;

}

.taula2 {
    border-radius: 1px;
    border-color: black;
    background-color: rgba(209, 202, 202, 0.9);
    height: 200px;
    width: 200px;
    margin-left: 75px;
    margin-top: 50px;
    text-align: center;
    border: 3px solid #000;
}

.taula3 {
    border-radius: 1px;
    border-color: black;
    background-color: rgba(209, 202, 202, 0.9);
    height: 200px;
    width: 200px;
    margin-left: 75px;
    margin-top: 50px;
    text-align: center;
    border: 3px solid #000;
}

.taula4 {
    border-radius: 1px;
    border-color: black;
    background-color: rgba(209, 202, 202, 0.9);
    height: 200px;
    width: 200px;
    margin-left: 75px;
    margin-top: 50px;
    margin-right: 130px;
    text-align: center;
    border: 3px solid #000;
}

.footer {
    background-color: rgb(138, 138, 138);
    background-size: 20%;
    grid-template-columns: auto auto auto;
    height: 130px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 30% 40% 30%;

    height: 130px;

}

.help {
    grid-column: 1/2;
    grid-row: 1/4;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: white;

}

.law {
    grid-column: 2/3;
    grid-row: 1/4;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
}

.visitanos {
    grid-column: 3/4;
    grid-row: 1/4;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
}

.fa {
    padding: 10px;
    width: 10px;
    text-decoration: none;
    margin-right: 30px;
}


.fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 100px;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #a81961;
    color: white;
}

.fa-youtube {
    background: #790202;
    color: white;
}